/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Nov-2018, 20:51:51
    Author     : diana
*/
#footer{
   /* margin-top: 400px;*/
}

div{
    width:90%;
    padding:20px;
    background-color: grey;
}
.td img,img{
    width:45px;
    height:45px;
}

.td{
    padding:5px;
    border:black solid 1px;
    border-radius: 3px;
}
.td:hover{
    opacity: 0.5;
}

.choosen{
    border:solid red 1px;
    background-color: lightsteelblue;
}